body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #6c6d6d, #000000, #d2d0d3);
    background-image: url(img/imagen+/Fondo_Negro_4.webp)
}

.calculadora-grilla{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calculadora-grilla> button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid  rgb(246, 246, 246);
    outline: none;
    background-color: rgba(107, 106, 106, 0.75);
    border-radius: 5px;
}
.outplut{
    grid-column: 1/-1;
    background-color: rgba(207, 204, 204, 0.75);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
}

.outplut .display{
    color: #252625;
    font-size: 1.85rem;
    text-align: right;
}

.calculadora-grilla > button.hover{
    background-color: #ffffff
}